{% extends "base.html" %}

{% block body %}
    {% if err_msg %}
        <p>{{ err_msg }}</p>
        {% if not token %}
            <a href="/login">Log In</a>
        {% endif %}
    {% endif %}
    {% if token %}
        <form action="/create_new_password" method="post">
            <label for="password">New Password</label>
            <input type="password" name="password">
            <label for="verifypassword">Verify Password</label>
            <input type="password" name="verifypassword">
            <input type="text" name="token" hidden="hidden" value="{{ token }}">
            <input type="text" name="userid" hidden="hidden" value="{{ userid }}">
            <input type="submit" value="Set New Password">
        </form>
    {% endif %}
{% endblock %}
